<h1>{{titulo}}</h1>
<form [formGroup]="form" (ngSubmit)="save()">
    <div class="campo">
        <label>Nome:</label>
        <input type="text" formControlName="nome">
    </div>

    <div class="campo">
        <label>CPF:</label>
        <input type="text" formControlName="cpf">
    </div>

    <div style="color: red;" *ngIf="error">{{errorMsg}}</div>

    <div class="botoes">
        <button type="submit">Salvar</button>
        <a [routerLink] = "['/pessoa']"><button>Voltar</button></a>
        
    </div>
</form>