.table-pessoa{
    margin-left: 8rem;
    margin-top: 1.5rem;
}

.item-table td{
    font-weight: bold;
    padding-left: 5rem;
}

.imgDelete img, .imgEdit img{
    width: 1.5rem;
}

.div-addPessoa{
    text-align: right;  
}

.imgAdd{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 40rem;
}

.imgDelete{
    padding-left: 5rem;
}

.imgEdit{
    padding-left:1.5rem !important;
}

.table-lista-pessoa td{
    height: 2.5rem;
    padding-left: 5rem;
}