<h1>{{titulo}}</h1>
<form [formGroup]="form" (ngSubmit)="save()">
    <div class="campo">
        <label>Nome:</label>
        <input type="text" formControlName="nome">
    </div>

    <div class="campo">
        <label>Qnt. aplicações:</label>
        <input type="text" formControlName="qtdApli">
    </div>

    <div style="color: red;" *ngIf="error">{{errorMsg}}</div>

    <div class="botoes">
        <button type="submit">Salvar</button>
        <a [routerLink] = "['/fornecedor']"><button>Voltar</button></a>
        
    </div>
</form>
